{% extends 'base.html' %}

{%- block title -%}
{{ error.name }}
{%- endblock -%}

{%- block content -%}
<div class="container text-center mt-5">
  <img src="https://i.imgur.com/qs6DwVF.gif" id="rand-img" class="img-fluid" title="FBI OPEN UP!">
  <hr>
  <h1>NO HACK! >:(</h1>
  {%- if error.description -%}
  <h2>{{ error.description }}</h2>
  {%- endif -%}
</div>
{%- endblock -%}

{%- block scripts_tail -%}
<script>
var random_meme = [
  'https://i.imgur.com/iWqHzBm.gif',
  'https://i.imgur.com/qs6DwVF.gif',
  'https://i.imgur.com/Mfkcjx4.gif',
  'https://media.giphy.com/media/S5zk61NTA96ISzl8ev/giphy.gif'
];
document.getElementById('rand-img').src = random_meme[Math.floor(Math.random()*random_meme.length)];
</script>
{{- super() -}}
{%- endblock -%}
