{%- extends 'base.html' -%}

{%- block content -%}
<div class="container mt-5" id="about">
  <div class="row">
    <div class="col">
      <h1>Team ATKR <small class="text-muted">About us</small></h1>
      <blockquote class="blockquote">
        <p class="mb-0">서기 2014년.. 여느때와 다름없이 취약점 제보를 하던 최모씨가 소속 단체를 적는칸을 보고 마땅히 적을게 없어, 임시로 만든 작은 팀이 시초가 되어 지금까지 다양한 분야에 공헌을 하며 자라왔습니다.</p>
      </blockquote>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4 text-center">
      <div class="rounded-circle mx-auto" style="height: 140px; width: 140px; background: url(https://i.imgur.com/S2eRYIq.png); background-size: cover; background-position: bottom"></div>
      <h2>Xvezda <small class="text-muted">즈베즈다</small></h2>
      <p>게임 개발을 전공하다 뜬금없이 웹 개발자로 전향한 돌연변이. 지금은 웹 해킹을 하고 있다. 팀원 채워서 CTF 나가보는게 꿈이라 한다.</p>
    </div>
    <div class="col-lg-4 text-center">
      <div class="rounded-circle mx-auto" style="height: 140px; width: 140px; background: url(https://i.imgur.com/gwpKUJn.png); background-size: cover; background-position: bottom"></div>
      <h2>Huhani <small class="text-muted">후하니</small></h2>
      <p>얼마전 병역의 의무를 마치고 팀에 복귀한 개발자. 왼쪽 분에게 당한(?)게 많아서 반강제로 보안의식이 투철해졌다. 커피보다 콜라를 자주 마신다고 한다.</p>

    </div>
  </div>
</div>
{%- endblock -%}

