{% block board_list %}
<div class="container">
  <div class="col">
    <div class="row">
      <h1>{{ current_page|title }}</h1>
      <table id="{{ current_page }}" class="table">
        <thead>
          <tr>
            <th scope="col">no</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
          <tr>
            <th scope="row">{{ data['article']['no'] }}</th>
            {% if data['article']['uid'] == 1 %}<td class="title"><a href="/{{ current_page }}/{{ data['article']['no'] }}"><span class="text-danger font-weight-bold">{{ data['article']['title'][:80] }}</span></a></td>{% else %}
            <td class="title"><a href="/{{ current_page }}/{{ data['article']['no'] }}">{{ data['article']['title'][:80] }}</a></td>
            {% endif %}
            <td>{{ data['user']['name'][:10] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <a href="/{{ current_page }}/write" class="btn btn-secondary">Write</a>
    </div>
  </div>
</div>
{% endblock %}
