{% block board_list %}
<div class="container">
  <div class="col">
    <div class="row">
      <h1>{{ board|title }}</h1>
      <table id="{{ board }}" class="table">
        <thead>
          <tr>
            <th scope="col">no</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">date</th>
          </tr>
        </thead>
        <tbody>
          <!-- pinned -->
          {%- set pinned_articles = model.board.get_pinned(board) -%}
          {%- for article in pinned_articles -%}
          <tr class="pinned-row">
            <th scope="row"><span class="pinned" title="pinned"></span></th>
            <td class="title"><a href="/{{ board }}/{{ article['no'] }}"><span class="text-danger font-weight-bold">{{ article['title'][:80] }}</span></a>
            {%- set user_info = model.account.get_user_info(['name'], {'uid': article['uid']}) -%}
            <td>{{ user_info['name'] }}</td>
            <td>{{ article['regdate'] }}</td>
          </tr>
          {%- endfor -%}
          <!-- /pinned -->
          {%- set articles = model.board.get_list(board, page) -%}
          {%- for article in articles|rejectattr('pinned', 'equalto', 1) -%}
          <tr>
            <th scope="row">{{ article['no'] }}</th>
            <td class="title"><a href="/{{ board }}/{{ article['no'] }}">{{ article['title'][:80] }}</a></td>
            {%- set user_info = model.account.get_user_info(['name'], {'uid': article['uid']}) -%}
            <td>{{ user_info['name'] }}</td>
            <td>{{ article['regdate'] }}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
    {%- set limit = 5 -%}
    {%- set endpage = model.board.get_endpage(board) -%}
    {%- set start = page // (limit+1) -%}
    <div class="row">
      <div class="col-md-6">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/{{ board }}">First</a>
            </li>
            {%- for page_no in range(start*limit+1, (start+1)*limit+1) if page_no <= endpage -%}
            <li class="page-item{% if page_no == page %} active{% endif %}">
              <a class="page-link" href="/{{ board }}/page/{{ page_no }}">{{ page_no }}</a>
            </li>
            {%- endfor -%}
            {%- if endpage > 1 -%}
            <li class="page-item">
              <a class="page-link" href="/{{ board }}/page/{{ endpage }}">End</a>
            </li>
            {%- endif -%}
          </ul>
        </nav>
      </div>
      <div class="col-md-6">
        <a href="/{{ board }}/write" class="btn btn-info float-right">Write</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
