{% block board_list %}
<div class="container">
  <div class="col">
    <div class="row">
      <h1>{{ current_page|title }}</h1>
      <table id="{{ current_page }}" class="table">
        <thead>
          <tr>
            <th scope="col">no</th>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">date</th>
          </tr>
        </thead>
        <tbody>
          <!-- pinned -->
          {%- set pinned_articles = mboard.get_pinned(current_page) -%}
          {% for article in pinned_articles %}
          <tr>
            <th scope="row"><span class="pinned" title="pinned"></span></th>
            <td class="title"><a href="/{{ current_page }}/{{ article['no'] }}"><span class="text-danger font-weight-bold">{{ article['title'][:80] }}</span></a>
            {%- set user_info = maccount.get_user_info(['name'], {'uid': article['uid']}) -%}
            <td>{{ user_info['name'] }}</td>
            <td>{{ article['regdate'] }}</td>
          </tr>
          {% endfor %}
          <!-- /pinned -->
          {%- set articles = mboard.get_articles(current_page) -%}
          {% for article in articles|rejectattr('pinned', 'equalto', 1) %}
          <tr>
            <th scope="row">{{ article['no'] }}</th>
            <td class="title"><a href="/{{ current_page }}/{{ article['no'] }}">{{ article['title'][:80] }}</a></td>
            {%- set user_info = maccount.get_user_info(['name'], {'uid': article['uid']}) -%}
            <td>{{ user_info['name'] }}</td>
            <td>{{ article['regdate'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <a href="/{{ current_page }}/write" class="btn btn-secondary">Write</a>
    </div>
  </div>
</div>
{% endblock %}
