{% extends 'base.html' %}

{% block styles %}
{% include 'styles.html' %}
<style>
#how-to-clear {
  width: 100%;
}
</style>
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="bd-placeholder-img" style="width: 100%; height: 100%; background: url(/static/img/images-to-look-like-a-pro/office.jpg); background-size: cover"></div>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>(대충 환영한다는 제목)</h1>
            <p>Team ATKR에서 운영하는 VPS, 서버 및 웹 호스팅 사이트에 오신것을 환영합니다. <br>저희는 보안을 가장 중요시 하며, 다년간의 보안취약점 연구 경험을 토대로 업계 최고의 안정적 서비스를 제공하고 있습니다.</p>
            <p><a class="btn btn-lg btn-primary" href="/pricing" role="button">자세히 알아보기</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="bd-placeholder-img" style="width: 100%; height: 100%; background: url(/static/img/images-to-look-like-a-pro/tie.jpg); background-size: cover"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1>(대충 전문적인 느낌이 나는 제목)</h1>
            <p>저희의 안정적인 서비스를 체험해 보실 수 있도록 무료 체험기간을 제공해 드리고 있습니다. <br>가입된 회원이라면 누구나 이용하실 수 있습니다.</p>
            <p><a class="btn btn-lg btn-primary" href="/join" role="button">가입하기</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <div class="bd-placeholder-img" style="width: 100%; height: 100%; background: url(/static/img/images-to-look-like-a-pro/student.jpg); background-size: cover"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>(대충 서비스를 자랑하는 제목)</h1>
            <p>열심히 써놔도 아무도 읽지 않을것이기 때문에 무의미한 팀원 모집글이나 쓰겠습니다.<br> ☆TEAM ATKR☆♚♚팀☆어태커♚♚가입시$$전원 스티커☜☜100%증정※<br>§★웹 취약점★제로데이 획득기회@@</p>
            <p><a class="btn btn-lg btn-primary" href="/about" role="button">즉시이동</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="jumbotron" id="how-to-clear">
        <h1 class="display-4">워게임 클리어 조건</h1>
        <p class="lead">관리자는 QnA 게시판에 글이 올라올때마다 최신 게시글을 체크합니다.<br>관리자에게 공지 게시판에 제목 <code>Hacked by &lt;여기에_아이디&gt;</code> (대소문자 구분x)<br>게시글을 올리게 만들면 개인쪽지로 플래그를 드립니다.<br><br>플래그 형식: <code>FLAG{flag_comes_here}</code><hr>관리자 웹 브라우저 정보: <code>{{ chrome_version }}</code></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
