{% extends 'base.html' %}

{%- block content -%}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">[주의] 본 사이트는 안전하지 않습니다. 개인정보, 주로 사용하는 비밀번호 등을 입력하지 마세요
      </div>
      <h1 class="mb-3">Join</h1>
      <form id="join" action="/join-check" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <div class="form-group row">
          <label for="user_id" class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-10">
            <input class="form-control" id="user_id" type="text" name="user_id" maxlength="128" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="user_name" class="col-sm-2 col-form-label">NAME</label>
          <div class="col-sm-10">
            <input class="form-control" id="user_name" type="text" name="user_name" maxlength="32" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="user_pw" class="col-sm-2 col-form-label">PW</label>
          <div class="col-sm-10">
          <input class="form-control" id="user_pw" type="password" name="user_pw" required>
          </div>
        </div>
        <div class="text-right">
          <a class="btn btn-secondary" href="/login">Back</a>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{%- endblock -%}
