{% extends 'base.html' %}

{%- block title -%}
Pricing
{%- endblock -%}

{%- block content -%}
<div id="pricing" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img class="card-img-top" src="https://i.imgur.com/H9lhdZX.jpg">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Free<h5>
            <h6 class="card-subtitle" class="card-subtitle">0<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">
              <ul class="pl-3">
                <li>1 코어</li>
                <li>512 MB 메모리</li>
                <li>15 GB SSD</li>
                <li>하루 20 GB 트래픽</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <img class="card-img-top" src="https://i.imgur.com/yTBjwis.jpg">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-success">Basic<h5>
            <h6 class="card-subtitle">19<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">
              <ul class="pl-3">
                <li>2 코어</li>
                <li>1024 MB 메모리</li>
                <li>20 GB SSD</li>
                <li>하루 40 GB 트래픽</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <img class="card-img-top" src="https://i.imgur.com/EUUvmfL.jpg">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-primary">Advance<h5>
            <h6 class="card-subtitle">29<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">
              <ul class="pl-3">
                <li>4 코어</li>
                <li>2048 MB 메모리</li>
                <li>40 GB SSD</li>
                <li>하루 100 GB 트래픽</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <img class="card-img-top" src="https://i.imgur.com/9XXKrkr.jpg">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-danger">Premium<h5>
            <h6 class="card-subtitle">49<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">
              <ul class="pl-3">
                <li>8 코어</li>
                <li>4096 MB 메모리</li>
                <li>128 GB SSD</li>
                <li>하루 500 GB 트래픽</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endblock -%}

