{% extends 'base.html' %}

{%- block content -%}
<div id="pricing" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Free<h5>
            <h6 class="card-subtitle" class="card-subtitle">0<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">
            </p>
            <ul class="pl-3">
              <li>1 코어</li>
              <li>512 MB 메모리</li>
              <li>15 GB SSD</li>
              <li>하루 20 GB 트래픽</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-success">Basic<h5>
            <h6 class="card-subtitle">19<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-primary">Advance<h5>
            <h6 class="card-subtitle">29<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-danger">Premium<h5>
            <h6 class="card-subtitle">49<small> $ / Month</small></h6 class="card-subtitle">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endblock -%}

