{% extends 'base.html' %}

{%- block title -%}QnA{%- endblock -%}

{% block content %}
<div id="board" class="mt-4">
  <div class="container">
    <!--
    <div class="alert alert-info alert-dismissible fade show" role="alert">Q&amp;A 게시판은 고객불편의 신속한 접수, 처리를 위해 250자 제한이 있습니다. 이용에 참고바랍니다 :)
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    -->
  </div>
  {% include 'board_list.html' %}
</div>
{% endblock %}

